@font-face {
    font-family: "Emilys Candy";
    src: url(@/assets/fonts/EmilysCandy-Regular.ttf);
}

@font-face {
    font-family: "Glacial Indifference Regular";
    src: url(@/assets/fonts/GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: "Glacial Indifference Bold";
    src: url(@/assets/fonts/GlacialIndifference-Bold.otf);
}

body {
    cursor:url(https://cdn.custom-cursor.com/db/7602/32/magnifying-glass-cursor.png) , default!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
q {
    font-family: "Emilys Candy";
    color: #ffffff;
}

a,
p,
span,
label,
textarea {
    font-family: "Glacial Indifference Regular";
}

img{
    max-width: 100%;
}
.image-enigme .enigme-text {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.image-enigme:hover .enigme-text {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.enigme {
    width: 30%;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    margin: 15px 15px;
    cursor: pointer;
}

.image-enigme {
    object-fit: cover;
    min-width: 100%;
    height: 100%;
}
.q-field--outlined .q-field__control {
    background-color: white !important;
}

.center-image {
    display: block;
    margin: 0 auto;
}

.red {
    color: red;
}
